{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
  $("#search_form_input").keyup(function(){
      var text = $(this).val();

      $.ajax({
        url: "/game",
        type: "post",
        data: {jsdata: text},
        success: function(response) {
          $("#move").html(response);
        }
      });
  });
  </script>
  <style>
    table {
    border: 10px solid #FF8000;
    }
    tr {
    height: 45px;
    width: 45px;
    }
    td {
    height: 45px;
    width: 45px;
    }
  </style>
</head>

<div class="page-header">
  <h1>The Classic Mystery Game</h1>
</div>

<div>
    {% if suggestion_message %}
       <p class="lead">{{suggestion_message}}</p>
       {% if card_value == "Miss Scarlet" %}
           <p align="center"><img src="static/cards/Kelly.png" height="288" width="173"></p>
       {% elif card_value == "Mrs. White" %}
           <p align="center"><img src="static/cards/Phyllis.png" height="288" width="173"></p>
       {% elif card_value == "Mrs. Peacock" %}
           <p align="center"><img src="static/cards/Pam.png" height="288" width="173"></p>
       {% elif card_value == "Colonel Mustard" %}
           <p align="center"><img src="static/cards/Dwight.png" height="288" width="173"></p>
       {% elif card_value == "Professor Plum" %}
           <p align="center"><img src="static/cards/Michael-1.png" height="288" width="173"></p>
       {% elif card_value == "Mr. Green" %}
           <p align="center"><img src="static/cards/Jim.png" height="288" width="173"></p>
       {% elif card_value == "wrench" %}
           <p align="center"><img src="static/cards/Taser.png" height="288" width="173"></p>
       {% elif card_value == "candlestick" %}
           <p align="center"><img src="static/cards/Crossbow.png" height="288" width="173"></p>
       {% elif card_value == "lead pipe" %}
           <p align="center"><img src="static/cards/Samurai_sword.png" height="288" width="173"></p>
       {% elif card_value == "rope" %}
           <p align="center"><img src="static/cards/Swiss_army_knife.png" height="288" width="173"></p>
       {% elif card_value == "revolver" %}
           <p align="center"><img src="static/cards/Stapler.png" height="288" width="173"></p>
       {% elif card_value == "knife" %}
           <p align="center"><img src="static/cards/Pepper_spray.png" height="288" width="173"></p>
       {% elif card_value == "kitchen" %}
           <p align="center"><img src="static/cards/Annex.png" height="288" width="173"></p>
       {% elif card_value == "ball room" %}
           <p align="center"><img src="static/cards/Warehouse.png" height="288" width="173"></p>
       {% elif card_value == "conservatory" %}
           <p align="center"><img src="static/cards/Break_room.png" height="288" width="173"></p>
       {% elif card_value == "dining room" %}
           <p align="center"><img src="static/cards/Conference_room.png" height="288" width="173"></p>
       {% elif card_value == "lounge" %}
           <p align="center"><img src="static/cards/Reception.png" height="288" width="173"></p>
       {% elif card_value == "hall" %}
           <p align="center"><img src="static/cards/Michaels_office.png" height="288" width="173"></p>
       {% elif card_value == "study" %}
           <p align="center"><img src="static/cards/Bathroom.png" height="288" width="173"></p>
       {% elif card_value == "library" %}
           <p align="center"><img src="static/cards/Vance_refrigeration.png" height="288" width="173"></p>
       {% elif card_value == "billiard room" %}
           <p align="center"><img src="static/cards/Lobby.png" height="288" width="173"></p>
       {% endif %}
    {% endif %}
</div>

<div>
    {% if accusation_message is not none %}
       <p class="lead">{{accusation_message}}</p>
    {% endif %}
</div>

<div>
    <p class="lead">It's your turn, player {{current_player}}</p>
</div>

<table class="table table-striped">
    {% for row in game_board %}
        <tr>
        {% for position in row %}
            {% if position == 'b' %}
                <td align="center" style="background-color:#104E8B"> </td>
            {% elif position == 'p' %}
                <td align="center" style="background-image: url(../../static/images2/SecretPassage.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 'x' %}
                <td style="background-color:white"></td>
            {% elif position == 0 %}
                <td align="center" style="background-image: url(../../static/images2/Dwight.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 1 %}
                <td align="center" style="background-image: url(../../static/images2/Kelly.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 2 %}
                <td align="center" style="background-image: url(../../static/images2/Michael.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 3 %}
                <td align="center" style="background-image: url(../../static/images2/Pam.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 4 %}
                <td align="center" style="background-image: url(../../static/images2/Jim.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 5 %}
                <td align="center" style="background-image: url(../../static/images2/Phyllis.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 6 %}
                <td align="center" style="background-image: url(../../static/images2/SwissArmyKnife.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 7 %}
                <td align="center" style="background-image: url(../../static/images2/PepperSpray.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 8 %}
                <td align="center" style="background-image: url(../../static/images2/Crossbow.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 9 %}
                <td align="center" style="background-image: url(../../static/images2/Stapler.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 10 %}
                <td align="center" style="background-image: url(../../static/images2/SamuraiSword.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% elif position == 11 %}
                <td align="center" style="background-image: url(../../static/images2/Taser.png);background-repeat:no-repeat;background-color:#104E8B;background-position:center;"></td>
            {% endif %}
        {% endfor %}
       </tr>
    {% endfor %}
</table>

<form method="post" class="move_form form-reset">
    <h3 class="form-heading">Move Player</h3>
    <input type="submit" value="Move Player" class="btn btn-lg btn-primary btn-block">

    {{ move_form.x_coordinate(class_ = 'form-control first-input last-input', placeholder = move_form.x_coordinate.label.text) }}
    {{ move_form.y_coordinate(class_ = 'form-control first-input last-input', placeholder = move_form.y_coordinate.label.text) }}
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
    {{ move_form.hidden_tag() }}
</form>

<form method="post" class="suggestion_form form-reset">
    <h3 class="form-heading">Make Suggestion</h3>
    <input type="submit" value="Make A Suggestion" class="btn btn-lg btn-primary btn-block">

    {{ suggestion_form.character_id(class_ = 'form-control first-input last-input', placeholder = suggestion_form.character_id.label.text) }}
    {{ suggestion_form.weapon_id(class_ = 'form-control first-input last-input', placeholder = suggestion_form.weapon_id.label.text) }}
    {{ suggestion_form.room_id(class_ = 'form-control first-input last-input', placeholder = suggestion_form.room_id.label.text) }}
    {{ suggestion_form.is_accusation(class_ = 'form-control first-input last-input', placeholder = suggestion_form.is_accusation.label.text) }}

    {% if suggestion_message %}
        <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" disabled>
    {% else %}
        <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
    {% endif %}

    {{ suggestion_form.hidden_tag() }}

</form>

{% endblock %}
